.card {
    border: 1px solid black;
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.form {
    display: flex;
    flex-direction: column;
}
button[data-close-modal]{
    width: 100%;
}
.delete-button {
    border-radius: 15px;
    background-color: rgba(209, 19, 19, 0.938);
    color: white;
}
button[data-open-modal]{
    border-radius: 15px;
    background-color: rgba(25, 209, 19, 0.938);
    color: white;
    margin-left: 15px;
    font-size: 20px;
}
body{
     margin: 0px;
     background-color: rgb(79, 46, 2);
}
.Header{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 15px;
}
.Header p{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    margin-left: 15px;
} 
dialog{
    background-color: rgb(79, 46, 2);
    color: white;
}
dialog button{
    background-color: antiquewhite;
}