.card {
    border: 1px solid black;
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    background-color: antiquewhite;
    
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.form {
    display: flex;
    flex-direction: column;
}
button[data-close-modal]{
    width: 100%;
}